{% extends "base.html" %}
{% block header %}
    <h2>{%block title%} Crear una publicación {% endblock %}</h2>
{%endblock%}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <label for="title">titulo</label>
        <input type="text" name="title" id="title" required>
        <label for="body">Contenido</label>
        <textarea name="body" id="body"></textarea>
        <label for="image">Imagen (opcional)</label>
        <input type="file" name="image" id="image" accept=".png,.jpg,.jpeg,.gif">
        <input type="submit" value="Guardar">
    </form>
{% endblock %}